<section class="section_header">

  <div class="container_left">
    <div class="container_menu">

      <div class="point_icon">
        <i class="pi pi-calendar" style="font-size: 1.1rem;"></i>
      </div>

    </div>
    <!--     icon="pi-calendar"
 -->
    <app-head-button [icon]=" 'pi-calendar' | iconButton"
      text="{{currentDate | date: 'EEE, d MMM y'}}"></app-head-button>

    <span>-</span>

    <app-head-button icon="pi-clock" text="{{ currentDate | date: 'hh:mm a'}}">
    </app-head-button>

    <i class="fa-brands fa-twitter"></i>

  </div>

  <div class="c_close_button">

    <i class="dot_icon pi pi-circle-fill"></i>
    <label class="text_close">Close Order</label>

    <div class="close_icon">
      <i class="pi pi-power-off" style="font-size: 1.1rem;"></i>
    </div>
  </div>


</section>
