<section class="section_header">

  <div class="container_menu">

    <div class="point_icon">
      <i class="pi pi-calendar" style="font-size: 1.1rem;"></i>
    </div>

  </div>

  <app-head-button icon="pi-calendar" text="Wed, 29 May 2024"></app-head-button>

  <span>-</span>

  <app-head-button icon="pi-clock" text="07:59 AM"></app-head-button>

  <div class="c_close_button">

    <label class="text_close">Close Order</label>

    <div class="close_icon">
      <i class="pi pi-power-off" style="font-size: 1.1rem;"></i>
    </div>
  </div>


</section>


