<div class="head-order">

  <div class="container_order">

    <!-- <app-head-button [icon]=" 'pi-calendar' | iconButton: 'libraryNg'" /> -->

    <div class="point_icon">
      <i class="pi pi-calendar" style="font-size: 1.1rem;"></i>
    </div>

  </div>

  <div class="text-order">
    <label class="title-text">Eloise's Order</label>
    <label class="subtitle-text">Order Number: #005</label>
  </div>

  <div class="container_order">
    <div class="point_icon">
      <i class="pi pi-calendar" style="font-size: 1.1rem;"></i>
    </div>
  </div>

</div>
